@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Inter' sans-serif;
}

/* button */
.btn-primary{
    position: relative;
    transition: 0.3s ease;
}

.btn-primary:hover{
    transform: scale(1.05);
}
.card-service{
    position: relative;
    transition: transform 0.3s ease;
}
.card-service:hover{
    transform: translateY(-5px);
}
